footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 98%;
    padding: 1rem;
    justify-self:center;
}
footer p{
    color: #e23636;;
    font-family: "Switzer", sans-serif;
    font-size: 0.9rem;
}
footer ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}

footer ul li a{
    color: #e23636;;
    font-family: "Switzer", sans-serif;
    font-size: 0.9rem;
    text-decoration: none;
    transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
/* when hovering ANY link, blur ALL links */
footer ul:hover li a {
  opacity: 0.8;
  filter: blur(0.5px);
}

/* then immediately restore hovered one */
footer ul li a:hover {
  opacity: 1;
  filter: blur(0);
}