a{
    text-decoration: none;
    user-select: none;
}
.headerNav{
    width: 98%;
    justify-self: center;
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding-top: 1rem;
  
}
.logo{
    color: var(--secondary-color);
    font-family: "Switzer", sans-serif;
    font-weight: 500;
    font-size: 1rem;
}
.navLinks{
    display: flex;
    gap: 0.5rem;
    margin: 0;
}
.navLinks li{
    list-style: none;
}
.navLinks li a{
    color: var(--secondary-color);
    font-family: "Switzer", sans-serif;
    font-weight: 500;
    font-size: 1rem;
    transition: filter 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.navLinks:hover li a {
    filter: blur(0.5px);
    opacity: 0.8;
}
.navLinks li a:hover {
    filter: blur(0);
    opacity: 1;
}
.cta{
    color: var(--secondary-color);
    font-family: "Switzer", sans-serif;
    text-decoration: underline;
}
.intro{
    color: var(--secondary-color);
    font-family: "Switzer";
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    user-select: none;
}