.project__card {
  width: 320px; /* IMPORTANT: prevents stretching */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 0 0 auto; /* prevents shrinking and growing */
}

.project__card > img {
  width: 100%;
  height: 450px; /* slightly reduced for better horizontal flow */
  object-fit: cover;
  border-radius: 12px;
}

.link {
  text-decoration: none;
}

h3 {
  font-family: "Instrument";
  color: var(--secondary-color);
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
}

p {
  font-family: "Switzer", sans-serif;
  color: var(--primary-color);
  font-size: 1.2rem;
  margin: 0;
}

.project_deets {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}